{% extends "appClinica/inicio.html" %}
{% load static %}

{% block titulo %}
    <h1 style="color:lightseagreen" class="mt-5"> Nosotros </h1>
{% endblock %}

{% block principal %}
    <p style="color:black"> Clinica privada ubicada en la ciudad de La Plata con mas de 50 años de experiencia y atendida por los mejores profesionales de la ciudad formados en las mejores universidades del mundo. </p>
{% endblock %}

{% block barra %}
    <li class="nav-item"><a class="nav-link" href="{% url 'nosotros' %}">Sobre nosotros</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'profesionales' %}">Nuestros profesionales</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'contacto' %}">Contact</a></li>
    <li class="nav-item active"><a class="nav-link" href="{% url 'turno' %}">Solicitar turno</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'admin' %}">Administrador</a></li>
{% endblock %}