{% extends "appClinica/inicio.html" %}
{% load static %}

{% block titulo %}
    <h1 style="color:white" class="mt-5"> Nuestros profesionales </h1>
{% endblock %}

{% block principal %}

    <p style="color:white"> 
        {% for personal in object_list %}
            <li style="color:white"> {{personal}} </li>
            <buton> 
                <a href="{% url 'personal_eliminar' personal.id %}"> Eliminar personal</a>
            </buton>
            <buton> 
                <a href="{% url 'personal_detalle' personal.id %}"> Detalles</a>
            </buton>
            <buton> 
                <a href="{% url 'personal_editar' personal.id %}"> Editar </a>
            </buton>
        {% endfor %}
        <br>
        <br>
        <a href="{% url 'personal_agregar' %}"> Agregar personal</a>
        <br>
        <br>

        
    </p>

{% endblock %}
<!-- BARRA DE ADMIN -->
{% block barra %}
    <li class="nav-item active"><a class="nav-link" href="{% url 'tsolicitado' %}">Turnos solicitados</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'pacientes' %}">Pacientes</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'personal' %}">Personal</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'agregarpaciente' %}">Agregar paciente</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'usuario' %}">Usuario</a></li>
{% endblock %}