{% extends "appClinica/inicio.html" %}
{% load static %}

{% block titulo %}
    <h1 class="mt-5"> Resultados de la busqueda </h1>
{% endblock %}

{% block principal %}
<body>
    <p> Estamos buscando al paciente con el dni: {{dni}}</p>
    {% if pacientes %}
    <p>Se encontro al paciente</p>
    <ul>   
        {% for paciente in pacientes %}
        <p>DNI: {{dni}}</p>
        <p>NOMBRE: {{paciente.nombre}}</p>
        <p>APELLIDO: {{paciente.apellido}}</p>
        <p>OBRA SOCIAL: {{paciente.obra_social}}</p>
        <a href="{% url 'paciente_eliminar'  paciente.id %}"> Eliminar paciente</a>
        <a href="{% url 'paciente_editar'  paciente.id %}"> Editar paciente</a>
        {% endfor %}
    </ul>

    {% else %}
        <p>No se encontro al paciente</p>
    {% endif%}
</body>
<buton> 
    <a href="{% url 'pacientes' %}"> Volves a pacientes</a>
</buton>
{% endblock %}
<!-- BARRA DE ADMIN -->
{% block barra %}
    <li class="nav-item active"><a class="nav-link" href="{% url 'tsolicitado' %}">Turnos solicitados</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'pacientes' %}">Pacientes</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'personal' %}">Personal</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'agregarpaciente' %}">Agregar paciente</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'usuario' %}">Usuario</a></li>
{% endblock %}