{% extends "appClinica/inicio.html" %}
{% load static %}

{% block titulo %}
    <h1 class="mt-5"> Detalles de la solicitud. </h1>
{% endblock %}

{% block principal %}
    <li>
        <p style="color:white"> NOMBRE: <i>{{solicitud_turno.nombre}}</i> </p>
        <p style="color:white"> APELLIDO: <i>{{solicitud_turno.apellido}}</i> </p>
        <p style="color:white"> ESPECIALIDAD: <i>{{solicitud_turno.especialidad}}</i> </p>
        <p style="color:white"> EMAIL: <i>{{solicitud_turno.email}}</i> </p>
    </li>
    <p>
        <a href="{% url 'tsolicitado' %}"> Volver a las solicitudes de turno</a>
    </p>
{% endblock %}
<!-- BARRA DE ADMIN -->
{% block barra %}
    <li class="nav-item active"><a class="nav-link" href="{% url 'tsolicitado' %}">Turnos solicitados</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'pacientes' %}">Pacientes</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'personal' %}">Personal</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'agregarpaciente' %}">Agregar paciente</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'admin' %}">Administrador</a></li>
{% endblock %}