{% extends "appClinica/inicio.html" %}
{% load static %}

{% block titulo %}
    <h1 style="color:lightseagreen" class="mt-5"> Solicitar turno </h1>
{% endblock %}

{% block principal %}
    <form style="color:black" method="POST"> {% csrf_token%}
        {% csrf_token %}
        {{form.as_p}}
        <input style="color:black" type="submit" value="Enviar" />
    </form>
    
{% endblock %}

{% block barra %}
    <li class="nav-item"><a class="nav-link" href="{% url 'nosotros' %}">Sobre nosotros</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'profesionales' %}">Nuestros profesionales</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'contacto' %}">Contact</a></li>
    <li class="nav-item active"><a class="nav-link" href="{% url 'turno' %}">Solicitar turno</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'admin' %}">Administrador</a></li>
{% endblock %}
