{% extends "appClinica/inicio.html" %}
{% load static %}

{% block titulo %}
    <h1 style="color:lightseagreen" class="mt-5"> Turno eliminado con exito </h1>
{% endblock %}

{% block principal %}

{% endblock %}
<!-- BARRA DE ADMIN -->
{% block barra %}
    <li class="nav-item active"><a class="nav-link" href="{% url 'tsolicitado' %}">Turnos solicitados</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'pacientes' %}">Pacientes</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'personal' %}">Personal</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'agregarpaciente' %}">Agregar paciente</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'usuario' %}">Usuario</a></li>
{% endblock %}